<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://nerdgeschoss.de/static/logo-cc7abe4bf8d5a21a99aa6ebc97cd296b.svg" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if nerd_signed_in? %>
        <li class="nav-item dropdown">
          <div class="row">
            <div class="col-12">
              <%= simple_form_for(@link, html: { class: "form form-inline justify-content-between mr-5"}) do |f| %>
                <%= f.input :url, class: 'flex-grow' %>
                <%= f.input :title, class: 'flex-grow' %>
                <%= f.submit "Submit", class: 'btn btn-primary mx-4' %>
              <% end %>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag current_nerd.avatar_url ? current_nerd.avatar_url : 'https://kitt.lewagon.com/placeholder/users/DanielGordon1', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_nerd_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_nerd_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
