<% @links_per_day.each do |day, links| %>
  <div class="day">
    <div class="row">
      <h2 class="col-12 ml-2"><%= links[0].created_at.strftime("Posted on %d/%m/%Y") %></h2>
    </div>
    <div class="row">
      <% links.each do |link| %>
      <div class="col-4">
        <div class="card-product mx-2">
          <a href="<%= link.url %>">
            <img src="https://loremflickr.com/320/240/<%= link.title %>" />
            <div class="card-product-infos">
              <h2><%= link.title %></h2>
              <p><%= link.like_count %></p>
            </div>
          </a>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <hr>
<% end %>

